html
  head
    title Git Eye
  body
    h2 --
    ul
      li 
        a(href='/' + basePath + '/..') ..
      each f in files
        li
          if f.isDirectory
            a(href='/' + basePath + '/' + f.name)= f.name
            span= f.isDirectory
            span= f.id
          else
            a(href='/' + basePath + '/' + f.name)= f.name
            span= f.isDirectory
            span= f.size 
            span= f.id